/*Űrlap:*/
input {
    background-color: rgb(162, 203, 216);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(5, 121, 175);
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

select {
    background-color: lightgray;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

/*https://www.programiz.com/css/form-styling*/

/*Táblázat:*/
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
 
tr:nth-child(1) {
  background-color: #cfe2f3;
}

tr:nth-child(2) {
  background-color: #d9ead3;
}

tr:nth-child(3) {
  background-color: #f9cb9c;
}

tr:nth-child(4) {
  background-color: #f4cccc;
}

tr:hover {
  background-color: #ddd;
}

/* https://www.geeksforgeeks.org/html/how-to-style-a-table-with-css/ */